.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 14px;

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            list-style: none;
            outline-style: none;
        }

        li a {
            text-decoration: none;
            color: white;
        }
    }
}


